* {
	font-family: Arial, Verdana, sans-serif;
}

body {
    background-color: yellow;
}

img {
	margin: 20px;
	border: 0px solid #ccc;
	float: center;
	width: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.hat {
	margin: 100px;
	margin-left: 390px;
    margin-right: 20px;
    margin-bottom: 0px;
    margin-top: 25px;
    position: fixed;
    z-index: 10
    }
.Octopus {
	margin: 10px;
	margin-left: 380px;
    margin-right: 20px;
    margin-bottom: 0px;
    margin-top: 80px;
    position: fixed;
    z-index: 5;
    }
.glasses {
	margin: 10px;
	margin-left: 385px;
    margin-right: 20px;
    margin-bottom: 0px;
    margin-top: 160px;
    position: fixed;
    z-index: 20;
    }    



